<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{% block title %}Fluffy Roll{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    </head>
    <body>

        <div data-role="page">
            <div data-role="header">
                {% block page_header %}{% endblock %}
            </div>
            <div data-role="content">
                {% block page_content %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        {% endblock %}
    </body>
</html>
