{% extends 'base.html.twig' %}

{% block content %}
    <h1>Edit {{ teddy.name }}</h1>

    <div class="row container-edit">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_row(edit_form.name) }}
            </div>

            <div class="form-group">
                {{ form_row(edit_form.imageFile) }}
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-lg btn-default" value="Edit"/>
                <button id="delete-form-submit" form="delete-form"
                        onclick="return confirm('Are you sure?');"
                        class="btn btn-lg btn-danger btn-second">Delete</button>
            </div>
            {{ form_end(edit_form) }}

            <div class="image">
                <img src="{{ vich_uploader_asset(teddy, 'imageFile') | imagine_filter('teddy_thumb') }}"
                     alt="{{ teddy.name|e }}"
                     class="img-rounded"/>
            </div>
        </div>

        {{ form(delete_form, {'attr': {'id': 'delete-form'}}) }}
    </div>
{% endblock %}
