{% extends 'base.html.twig' %}

{% block content %}
    <div class="row container-main container-buttons">
        <div class="col-xs-12">
            {% if teddies is not empty and teddies|length > 0 %}
                <button class="btn btn-lg btn-default start" role="button">FLUFFY ROLL</button>
            {% endif %}
            <a class="btn btn-lg btn-default" href="{{ path('_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> FLUFFY
            </a>
            <a class="btn btn-lg btn-default" href="{{ path('_list') }}">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> FLUFFIES
            </a>
        </div>
    </div>

    <div class="row container-main container-roulette">
        <div class="col-xs-12">
            <div class="roulette">
                {% for teddy in teddies %}
                    <img src="{{ vich_uploader_asset(teddy, 'imageFile') | imagine_filter('teddy_roll') }}"
                         alt="{{ teddy.name|e }}"
                         data-name="{{ teddy.name|e }}"
                         class="img-rounded"/>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row container-teddy-name">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="name"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@roulette'
    '@FluffyRollBundle/Resources/public/js/*'
    output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
