{% extends 'base.html.twig' %}

{% block content %}
    <div class="row container-main container-list">
        {% if teddies is not empty and teddies|length > 0 %}
            {% for teddy in teddies %}
                <div class="col-xs-4 col-md-3">
                    <a href="{{ path('_show', { 'id': teddy.id }) }}" class="thumbnail">
                        <img src="{{ asset('upload/images/'~teddy.image|e) | imagine_filter('teddy_thumb') }}"
                             class="img-rounded"/>
                        <div class="caption">
                            <span class="name">{{ teddy.name|e }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12">
                <span class="add">There is no teddy as yet !</span>
                <a class="btn btn-lg btn-default" href="{{ path('_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> FLUFFY
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
