{% extends 'base.html.twig' %}

{% block content %}
    <h1>Add a fluffy</h1>

    <div class="row container-new">
        <div class="col-xs-12">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.imageFile) }}
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-lg btn-default" value="Create"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
