body, .container-fluid {
    height: 100%;
}

h1 {
    text-align: center;
}

/* Navbar fixes */
.site-wrapper .navbar {
    margin-bottom: 0;
    height: 53px;
    font-size: 1.5em;
}

.site-wrapper .navbar-brand {
    font-size: 1.2em;
}

.site-wrapper .navbar-nav {
    margin: 5px 0;
}

.site-wrapper .navbar-nav > li, .navbar-nav {
    float: left;
}

.site-wrapper .navbar-right {
    float: right;
}

@media (min-width: 768px) {
    .site-wrapper .navbar-header {
        float: none;
    }

    .site-wrapper .navbar-nav {
        margin: 0;
    }
}
/* Navbar fixes */

.container-main {
    padding-top: 15px;
}

/* Homepage */
.container-buttons {
    text-align: center;
}

.container-buttons .btn,
.container-list .btn {
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: black 2px solid;
    font-size: 2.5em;
    font-weight: bold;
}

.container-buttons .btn:first-child {
    margin-top: 0;
}

.container-roulette .roulette {
    display: none;
    border-radius: 6px;
}

.container-roulette img {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.container-teddy-name {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 15px;
    right: 15px;
    z-index: 1030;
    text-align: center;
}

.container-teddy-name .name {
    display: inline-block;
    padding: 8px 12px;
    color: #151515;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    border: black 2px solid;
    border-radius: 6px;
    font-size: 1.5em;
}

/* Page list */
.container-list {
    text-align: center;
}

.container-list .thumbnail .caption {
    padding: 4px 6px;
}

.container-list .add {
    font-size: 1.8em;
}

/* Page edit */
.container-edit .image {
    text-align: center;
}

.container-edit .btn-second {
    margin-left: 15px;
}

/* Page show */
.container-show {
    text-align: center;
}

.container-show img {
    height: 100%;
    max-width: 100%;
}

.container-show table {
    margin-top: 10px;
}

.container-show table td {
    word-break: break-all;
}
