name: Deploy with gh-pages

on:
  push:
    branches:
      - master

jobs:
  deploy-with-gh-page:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Update git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote set-url origin https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Clean install dependencies
        run: yarn install --frozen-lockfile

      - name: Test project
        run: yarn test

      - name: Get package version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      - name: Deploy with with gh-pages
        run: yarn deploy -m "Deploy ${{ steps.package-version.outputs.current-version }}"
